export MAIL_SERVER='smtp.gmail.com'
export MAIL_PORT=465
export MAIL_USE_SSL=True
export MAIL_USERNAME='sample_mail@gmail.com'
export MAIL_PASSWORD='sample_gmail_password'
export MAIL_RECIPIENTS='list of recipient email addresses'
SECRET_KEY='sample secret key'