<section id="feature" class="section-padding wow fadeIn delay-05s">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="wrap-item text-center">
            <div class="item-img">
              <img src="static/img/sensitization.png" style="max-height: 60px; max-width: 60px;">
            </div>
            <h3 class="pad-bt15">Sensitization</h3>
            <p class="text-left">To sensitize the community about the dangers of addiction to alcohol.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="wrap-item text-center">
            <div class="item-img">
              <img class="img-circle" src="static/img/collab.jpeg" style="max-height: 75px; max-width: 75px;">
            </div>
            <h3 class="pad-bt15">Collaboration</h3>
            <p class="text-left">To work with other stake holders like the sub-county, District local government authorities, local communities and other development partners like civil society organizations (NGOs) in compacting rampant alcoholism in Moyo District and Palorinya refugees settlement. </p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="wrap-item text-center">
            <div class="item-img">
              <img src="static/img/alcohol.png" style="max-height: 80px; max-width: 80px;">
            </div>
            <h3 class="pad-bt15">Rehabilitation</h3>
            <p class="text-left"> To identify  and rehabilitate the youths who are addicted to alcohol as we sensitize people about the dangers of taking excessive alcohol.</p>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="wrap-item text-center">
            <div class="item-img">
              <img src="static/img/entrepreneurship.png" style="max-height: 85px; max-width: 85px;">
            </div>
            <h3 class="pad-bt15">Empowerment</h3>
            <p class="text-left">To support those who have been rehabilitated with various life skills training so as to make them self reliant.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!---->
  <!---->
  <section id="service" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="service-title pad-bt15">What We Do?</h2>
          <p class="sub-title pad-bt15">Fighting rampant alcohol related sicknesses, problems and death in Moyo District and Palorinya refugees settlement<br>by rehabilitating at least 500 youths (people) who will be empowered through various support areas of;</p>
          <hr class="bottom-line">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-item">
            <h3><span>R</span>ehabilitation</h3>
            <p>Identify and make referral of youths who are addicted to alcohol in our local communities to health facilities for counseling, treatment and then organizing them to form football clubs, drama clubs, volleyball clubs, netball clubs.</p>
            <!-- <a href="">learn more...</a> -->
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-item">
            <h3><span>L</span>ife Skills Training</h3>
            <p>Empowering the rehabilitated persons with life skills like carpentry and joinery (C.J), hair dressing and saloon business, brick laying and concrete practice(BCP), cobblery (shoe making), metal fabrication.</p>
            <!-- <a href="">learn more...</a> -->
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-item">
            <h3><span>C</span>apacity Building</h3>
            <p>Provide capacity building for the rehabilitated persons through training in entrepreneurship and business enterprises, leadership and good governance and Sexual Gender Based Violence (SGBV).</p>
            <!-- <a href="">learn more...</a> -->
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="service-item">
            <h3><span>E</span>nterprenuership</h3>
            <p>Engage the rehabilitated youths through the skills training in entrepreneural activities like furniture making, hair dressing and saloon business, brick laying and constructions, cobblery (shoe making) and metal fabrication workshops in order to generate sustanable income for their livelihood.</p>
            <!-- <a href="">Learn more...</a> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!---->