<div class="header">
  <div class="bg-color">
    <header id="main-header">
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
          <div class="item-img">
            <a class="navbar-brand" href="#"><img class="img-circle" src="static/img/logo.png" style="width: 56px; height: 54px;" alt="Logo"></a>
          </div>
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <div class="navbar-band">
            <a class="navbar-brand" href="#">&nbsp;&nbsp; Moarepa<span class="logo-dec"></span></a>
            </div>
            
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="#main-header">Home</a></li>
              <li class=""><a href="#feature">About</a></li>
              <li class=""><a href="#service">Services</a></li>
              <li class=""><a href="#portfolio">Portfolio</a></li>
              <li class=""><a href="#contact">Contact Us</a></li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="wrapper">
      <div class="container">
        <div class="row">
          <div class="banner-info text-center wow fadeIn delay-05s">
            <h2 class="bnr-sub-title">We are moa<span>repa</span></h2>
            <h1 class="bnr-title">Welcome to start a new journey with us today!!</h1>
            <p class="bnr-para">
              Join our strive to sensitize, rehabilitate and support youths who are addicted to alcohol in Moyo District and the refugees settlements <br />  of Palorinya. We say; together we can compact rampant alcoholism in our communities so as to engage the <br /> youths in economic and developmental activities. </p>
            <div class="overlay-detail">
              <a href="#feature" class="btn btn-more">Learn More</a>
            </div>
            <div class="overlay-detail">
              <a href="#feature"><i class="fa fa-angle-down"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>