<section id="portfolio" class="section-padding wow fadeInUp delay-05s">
    <div class="container">
      <div class="row">

        <div class="col-md-12 text-center">
          <h2 class="service-title pad-bt15">Our Proposed Projects</h2>
          <p class="sub-title pad-bt15">The rehabilitated youths through our programes will be engaged in various entrepreneural projects <br /> through which they earn their livelihood as below;</p>
          <hr class="bottom-line">
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <figure>
              <img src="static/img/poultrys.jpg" class="img-responsive" style="max-height: 360px;">
              <figcaption>
                <h2>Poultry Farming</h2>
                <p></p>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <figure>
              <img src="static/img/pigery.jpeg" class="img-responsive" style="max-height: 360px;">
              <figcaption>
                <h2>Piggery</h2>
                <p></p>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <figure>
              <img src="static/img/furniture.jpg" class="img-responsive">
              <figcaption>
                <h2>Carpentry</h2>
                <p></p>
              </figcaption>
            </figure>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <figure>
              <img src="static/img/motor.jpg" class="img-responsive" style="max-height: 300px;">
              <figcaption>
                <h2>Motor Mechanics</h2>
                <p></p>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <figure>
              <img src="static/img/bed.jpeg" class="img-responsive" style="max-height: 300px;">
              <figcaption>
                <h2>Nursery Bed</h2>
                <p></p>
              </figcaption>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 col-xs-12 portfolio-item padding-right-zero mr-btn-15">
            <figure>
              <img src="static/img/hoti.jpg" class="img-responsive">
              <figcaption>
                <h2>Hoti Culture</h2>
                <p></p>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </section>